[Desktop Entry]
Encoding=UTF-8
Name=GStreamer Pipeline Editor
Name[nl]=GStreamer Pijplijn Editor
Name[no]=GStreamer Struktur Redigerer
Comment=Lets you edit GStreamer pipelines
Comment[nl]=GStreamer pijplijnen wijzigen
Comment[no]=Rediger GStreamer strukturer
Exec=gst-editor
Terminal=false
Type=Application
Icon=gst-editor.png
Categories=Application;Development;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=GStreamer
X-GNOME-Bugzilla-Component=gst-editor
